mongo_uri_secret
firebase_api_key_secret
firebase_api_key_secret
firebase_auth_domain_secret
firebase_project_secret
firebase_storage_bucket_secret
firebase_messaging_sender_id_secret
firebase_app_id_secret
firebase_measurement_id_secret